.popdown{
	animation-name: popdown;
    animation-duration: 0.5s;
}

@keyframes popdown {
  100% {
    transform: scale(0.10);
  }
  80% {
    transform: scale(0.20);
  }
  60% {
    transform: scale(0.40);
  }
  40% {
    transform: scale(0.60);
  }
  20% {
    transform: scale(0.80);
  }
  0% {
    transform: scale(1);
  }
}

.popup{
	animation-name: popup;
    animation-duration: 0.5s;
}

@keyframes popup {
  0% {
    transform: scale(0.10);
  }
  20% {
    transform: scale(0.20);
  }
  40% {
    transform: scale(0.40);
  }
  60% {
    transform: scale(0.60);
  }
  80% {
    transform: scale(0.80);
  }
  100% {
    transform: scale(1);
  }
}


.done{
	text-decoration: line-through;
	color: green;
	font-size: 25px;
}

div {
	padding: 5px;
}

button {
	padding: 10px;
	margin-left: 10%;
	transition: 1s;
}



form {
	padding: 20px;
	margin-right: 30%;
	margin-left: 30%;
	margin-top: 20px;
	border: solid green;
	font-size: 30px;
}

input {
	margin: auto;
	padding: 10px;
	font-size: 25px;
}

ul {
	padding: 5px;
	margin-right: 30%;
	margin-left: 30%;
}

li {
	margin-top: 3%;
	text-align: right;
	padding: 1%;
	border: solid grey;
	margin-right: 20%;
	margin-left: 20%;
	font-size: 20px;

	width: 50%;
    height: 20%;

    transition: 0.1s;
	transform: scale(1);
}

li:hover {
	transition: 0.1s;
	transform: scale(1.05);
}